body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px 0;
}

header img {
    width: 50%;
    border-radius: 10px;
}
nav {
    text-align: center;
    background-color: #333;
    padding: 10px;
    margin: 10px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #4CAF50;
    transition: background-color 0.3s ease-in-out;
}

nav a:hover {
    background-color: #45a049;
}

/* nav {
    text-align: center;
    background-color: #333;
    padding: 10px;
    margin: 10px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #4CAF50;
    transition: background-color 0.3s ease-in-out;
    display: inline-block;
}

nav a:hover {
    background-color: #45a049;
} */

hr {
    border: none;
    border-top: 2px dashed #4CAF50;
    margin: 20px 0;
}

h4 {
    color: #333;
}

center img {
    margin: 10px;
    border-radius: 20px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease-in-out;
}

button a {
    color: #fff;
    text-decoration: none;
}

button:hover {
    background-color: #45a049;
}
/* 
nav {
    text-align: center;
    background-color: #333;
    padding: 10px;
    margin: 10px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #4CAF50;
    transition: background-color 0.3s ease-in-out;
}

nav a:hover {
    background-color: #45a049;
} */

/* Added styles for anchor tags */
/* a {
    color: #4CAF50;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #45a049;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
    border-top: 2px dashed #4CAF50;
}




